<p>こんにちは <%= @resource.email %>!</p>

<p>パスワード変更のリクエストが出されました。実行するには以下のリンクをクリックしてください。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心当たりがない場合は無視してください。</p>
<p>リンクをクリックしない限りは、パスワードは変更されません。</p>
